.mapbox {
  height: 100%;
  width: 100%;
}

/*.jumbotron{
	height:100%;
	width: 100%;
	background-color: #262626;
	margin-top: -65px;
}*/

#map{
	position: fixed;
	/*z-index: 1;*/
	/*width:1500px;*/
}