<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<head>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'https://www.simplify.com/commerce/v1/simplify.js' %>
<%= csrf_meta_tags %>

</head>